<html>
<h1>Reset Password</h1>
<form action="/Home/PasswordReset" method="POST">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <input type="hidden" type="text" name="code" id="token" value="" />
    <button type="submit">Submit</button>
</form>
</html>
<script type="text/javascript">
    window.onload = function getCode() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const code = urlParams.get('code');
        document.getElementById("token").value = code;
    }
</script>